@import "tailwindcss";
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Epilogue';
	/* UPDATE FOR BASE PATH */
	src: url('/probe.rs/fonts/epilogue.ttf') format("truetype");
}

@font-face {
	font-family: 'Inter';
	/* UPDATE FOR BASE PATH */
	src: url('/probe.rs/fonts/inter.ttf') format("truetype");
}

@theme {
  --font-sans: 'Inter', sans-serif;
	--color-green: #15846f;
	--color-lightgreen: #15846f22;
	--color-lightergreen: #15846f11;
	--color-graytransparent: #55555555;
}

@layer components {
	a:hover,a:active {
		@apply text-green transition ease-out;
	}
}

tr {
	@apply even:bg-lightgreen;
}

td {
	@apply px-2 even:bg-lightergreen;
}

th {
	@apply text-center;
}

/* Prose styling */
@layer utilities {

}
