---
import type { CollectionEntry } from "astro:content";
import Html from "./Html.astro";
import FormattedDate from "../components/FormattedDate.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { title, description } = Astro.props.content;
---

<Html title={title} description={description}>
  <main>
    <article>
      <div class="prose">
        <slot />
      </div>
    </article>
  </main>
</Html>
